<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__top__left">
        <a href="#" class="footer__logo" style="background-image: url(img/logo-big.png)"></a>
      </div>
      <div class="footer__top__right">
        <nav class="main__menu" style="display: none;">
          <div class="main__menu__item">
            <a class="main__menu__link" href="#">&lt;/о компании></a>
          </div>
          <div class="main__menu__item">
            <a class="main__menu__link" href="#">&lt;/услуги></a>
          </div>
          <div class="main__menu__item">
            <a class="main__menu__link" href="#">&lt;/блог></a>
          </div>
          <div class="main__menu__item">
            <a class="main__menu__link" href="#">&lt;/портфолио></a>
          </div>
          <div class="main__menu__item">
            <a class="main__menu__link" href="#">&lt;/отзывы></a>
          </div>
          <div class="main__menu__item">
            <a class="main__menu__link" href="#">&lt;/контакты></a>
          </div>
        </nav>
        <div class="footer__contacts">
          <div class="footer__contacts__block">
             <a class="footer__phone" href="tel:89999999999">8 (999) 999-99-99</a>
            <div class="footer__time">пн-пт с 9:00 до 18:00</div>
          </div>
          <div class="footer__contacts__block">
            <a class="footer__mail" href="mailto:test@mail.ru">test@mail.ru</a>
            <button class="btn-callback" data-get-popup="callback">заказать звонок</button>
          </div>
          <div class="footer__social">
            <div class="social__title">Мы в соцсетях:</div>
            <div class="social__items__wrap">
              <a class="social__item icon__wrap" href="#" target="_blank">
                <svg>
                  <use xlink:href="#icon-vk"></use>
                </svg>
              </a>
              <a class="social__item icon__wrap" href="#" target="_blank">
                <svg>
                  <use xlink:href="#icon-facebook"></use>
                </svg>
              </a>
              <a class="social__item icon__wrap" href="#" target="_blank">
                <svg>
                  <use xlink:href="#icon-odnoklassniki"></use>
                </svg>
              </a>
              <a class="social__item icon__wrap" href="#" target="_blank">
                <svg>
                  <use xlink:href="#icon-instagram"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <a class="footer__policy" href="info/policy.pdf" target="_blank">Политика конфиденциальности</a>
      <div class="footer__copyright"> © Студия совеременных технологий “It-is¿”</div>
    </div>
  </div>
</footer>