<section class="incut__form incut__form-other">
  <div class="container">
    <div class="incut__form__title">Хотите<br>по-другому?</div>
    <form class="form__block">
      <div class="form__content">
        <div class="form__title">Закажите консультацию</div>
        <div class="form__title__under">Заполните форму и мы перезвоним в течении нескольких минут!</div>
        <label class="input__block">
          <input type="tel" placeholder="Номер телефона*" name="phone">
          <span class="error-message">Введено не корректно!</span>
        </label>
        <div class="policy">Нажимая на кнопку “Отправить”, вы подтверждаете свое согласие на <a href="info/agreement.pdf" target="_blank">обработку пользовательских данных</a></div>
        <button class="btn turquoise btn-submit">&lt;/ заказать консультацию></button>
      </div>
      <div class="form__reminder">
        <div class="form__reminder__title">Спасибо, ваша заявка успешно отправлена</div>
      </div>
    </form>
  </div>
</section>